---
title: 'About Us'
layout: 'layouts/base.njk'
---

{% include 'partials/_header.html' %}

        <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
            <div class="flex flex-col lg:flex-row justify-between gap-8">
                <div class="w-full lg:w-5/12 flex flex-col justify-center">
                    <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">About Us</h1>
                    <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">Graduationg Project Team formed in Istanbul Kültür University led by our Advisor DOKTOR ÖĞRETİM ÜYESİ
WISAM   ELMASRY</p>
                </div>
                <div class="w-full lg:w-8/12">
                    <img class="w-full h-full rounded-md" src="https://www.iku.edu.tr/sites/default/files/inline-images/%C4%B0stanbul%20K%C3%BClt%C3%BCr%20%C3%9Cniversitesi.jpg" alt="A group of People" />
                </div>
            </div>
    
            <div class="pt-12">
                <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-6">Team and Roles</h1>
                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6">
                    <div class="bg-white dark:bg-gray-800 rounded-xl shadow-lg p-5">
                        <img class="w-full h-72 object-cover rounded-lg" src="https://i.ibb.co/NSpZJVK/e2a26e6f-7501-4489-a242-c65134f79276.jpg" alt="Osama Atia" />
                        <p class="font-semibold text-2xl leading-7 text-gray-800 dark:text-white mt-4">Osama Atia</p>
                        <p class="font-normal text-base leading-6 text-gray-600 dark:text-gray-300 mt-2">Writing Research paper and help with model training.</p>
                    </div>

                    <a href="https://github.com/pedromourente" class="bg-white dark:bg-gray-800 rounded-xl shadow-lg p-5 block">
                        <img class="w-full h-72 object-cover rounded-lg" src="https://i.ibb.co/8X2PZRQ/111111.jpg" alt="Hussam Asskar" />
                        <p class="font-semibold text-2xl leading-7 text-gray-800 dark:text-white mt-4">Hussam Asskar</p>
                        <p class="font-normal text-base leading-6 text-gray-600 dark:text-gray-300 mt-2">Model Research and Training, Development and Implementation of all game mechanics and practice section. Writing of research paper.</p>
                    </a>

                    <div class="bg-white dark:bg-gray-800 rounded-xl shadow-lg p-5">
                        <img class="w-full h-72 object-cover rounded-lg" src="https://i.ibb.co/Trj4vjj/b962c715-b4dc-4bf4-951e-8c8ec13cf1c0.jpg" alt="Oussame El Karchy" />
                        <p class="font-semibold text-2xl leading-7 text-gray-800 dark:text-white mt-4">Oussame ElKarchy</p>
                        <p class="font-normal text-base leading-6 text-gray-600 dark:text-gray-300 mt-2">help writing research paper</p>
                    </div>
                </div>
            </div>
        </div>
    {% include 'partials/_footer.html' %}
