---
title: 'About Us'
layout: 'layouts/base.njk'
---

{% include 'partials/_header.html' %}

        <div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
            <div class="pt-4">
                <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-6">Team and Roles</h1>
                <div class="flex flex-nowrap gap-3 items-stretch" style="display:flex;flex-wrap:nowrap;gap:0.75rem;">
                    <div class="w-1/3 min-w-0 bg-white dark:bg-gray-800 rounded-xl shadow-lg p-3" style="width:33.3333%;">
                        <img class="w-36 h-24 object-cover rounded-lg mx-auto" src="https://i.ibb.co/NSpZJVK/e2a26e6f-7501-4489-a242-c65134f79276.jpg" alt="Osama Atia" />
                        <p class="font-semibold text-lg leading-7 text-gray-800 dark:text-white mt-3">Osama Atia</p>
                        <ul class="font-normal text-base leading-6 text-gray-600 dark:text-gray-300 mt-2 space-y-1" style="list-style-type: disc; padding-left: 1.25rem;">
                            <li>Writing Research paper</li>
                            <li>Help with model training</li>
                        </ul>
                    </div>

                    <a href="https://github.com/yoitshussam" class="w-1/3 min-w-0 bg-white dark:bg-gray-800 rounded-xl shadow-lg p-3 block" style="width:33.3333%;">
                        <img class="w-36 h-24 object-cover rounded-lg mx-auto" src="https://i.ibb.co/8X2PZRQ/111111.jpg" alt="Hussam Asskar" />
                        <p class="font-semibold text-lg leading-7 text-gray-800 dark:text-white mt-3">Hussam Asskar</p>
                        <ul class="font-normal text-base leading-6 text-gray-600 dark:text-gray-300 mt-2 space-y-1" style="list-style-type: disc; padding-left: 1.25rem;">
                            <li>Model Research and Training</li>
                            <li>Development and Implementation of all game mechanics and practice section</li>
                            <li>Writing of research paper</li>
                        </ul>
                    </a>

                    <div class="w-1/3 min-w-0 bg-white dark:bg-gray-800 rounded-xl shadow-lg p-3" style="width:33.3333%;">
                        <img class="w-36 h-24 object-cover rounded-lg mx-auto" src="https://i.ibb.co/Trj4vjj/b962c715-b4dc-4bf4-951e-8c8ec13cf1c0.jpg" alt="Oussame El Karchy" />
                        <p class="font-semibold text-lg leading-7 text-gray-800 dark:text-white mt-3">Oussame ElKarchy</p>
                        <ul class="font-normal text-base leading-6 text-gray-600 dark:text-gray-300 mt-2 space-y-1" style="list-style-type: disc; padding-left: 1.25rem;">
                            <li>Help writing research paper</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% include 'partials/_footer.html' %}
